@page {
	size: A4;
	margin: 8mm;

	@bottom-center {
		content: 'Page ' counter(page) ' of ' counter(pages);
	}
}

@media print {
	.watermark_logo {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.1;
		pointer-events: none;
		z-index: 1000;
	}

	.logo_mark_icon {
		width: 60vh;
		height: 60vh;
		object-fit: contain;
	}

	.logo_mark {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.box_logo {
	display: flex;
	align-items: center;
	gap: 12px;
}

.logo_icon {
	width: 72px;
	height: 72px;
}

.info {
	& > h4 {
		font-size: 22px;
		text-transform: uppercase;
	}

	& > p {
		font-size: 14px;
		margin-top: 2px;
		font-weight: 500;
	}
}

.content {
	margin-top: 9mm;

	& > h3 {
		font-size: 24px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 12px;
	}

	& > p {
		font-size: 16px;
		font-weight: 500;

		& > span {
			margin-left: 20px;
			font-weight: 600;
		}
	}

	.table {
		margin-top: 16px;

		table {
			width: 100%;
			border-collapse: collapse;
			font-size: 16px;
		}

		th,
		td {
			border: 1px solid black;
			padding: 2px 4px;
			text-align: center;
		}
	}

	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.sign {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 60px;
	}
}
