.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 12px;
}

.main_search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
}

.search {
	min-width: 296px;
}

.filter {
	min-width: 220px;
}

.table {
	margin-top: 16px;
}

.link {
	font-weight: 600;
	color: var(--primary);
	transition: 0.3s;

	&:hover {
		opacity: 0.8;
		text-decoration: underline;
	}
}

.specification {
	width: fit-content;
	font-weight: 600;
	cursor: pointer;
	user-select: none;
	transition: 0.2s;
	color: #2d74ff;

	&.active {
		color: #2d74ff;
	}
}

.dryness {
	font-weight: 600;
}
