@import '../../../../styles/variables';

.container {
	position: relative;
	height: 100vh;
	background: #fff;

	display: flex;
	flex-direction: column;
}

.title {
	color: #2f3d50;
	font-size: 24px;
	font-weight: 600;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 12px;
	padding: 24px 24px 0;
}

.btn {
	display: flex;
	gap: 8px;
}

.line {
	width: 100%;
	height: 1px;
	background: #e0e0e0;
	margin: 16px 0 0 0;
}

.form {
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}

.table_srcoll {
	overflow-y: auto;
	max-height: calc(100vh - 160px);
	margin-top: 16px;
}

.close {
	right: 32px;
	top: 32px;
	cursor: pointer;
	user-select: none;
	font-size: 24px;
	color: var(--dark-2);
	transition: 0.3s;

	&:active {
		transform: scale(0.9);
	}
}

.table_head {
	color: var(--light);
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
	box-sizing: border-box;
	background: var(--primary);
	height: 50px;
	display: flex;
	align-items: center;

	.table_head_item {
		padding-right: 16px;
		flex: 1;
	}
}

.unit {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
}

@media (max-width: $widthTablet) {
	.container {
		min-width: 100vw;
	}
}

@media (max-width: $widthMobile) {
	.container {
		min-width: 100vw;
	}
}
