.container {
	overflow-x: auto;
	padding-bottom: 4px;
	scrollbar-color: #ccc #fff;

	&::-webkit-scrollbar {
		height: 10px;
	}

	table,
	td,
	th {
		text-align: left;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0 2px;
		width: 100%;
	}

	th,
	td {
		padding: 12px;
		line-height: 16px;
		white-space: nowrap;
	}

	th {
		color: var(--light);
		font-size: 14px;
		font-weight: 600;
		white-space: nowrap;
		padding-right: 24px;

		&.checkBox {
			display: flex;
			align-items: center;
			gap: 8px;
			width: 100%;
		}

		&.textEnd {
			text-align: right;
		}

		&.textStart {
			text-align: left;
		}

		&.textCenter {
			text-align: center;
		}
	}

	thead {
		box-sizing: border-box;
		background: var(--primary);

		.fixedLeft,
		.fixedRight {
			background: var(--primary);
		}

		.fixedLeft {
			box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}

		.fixedRight {
			box-shadow: inset 2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}
	}

	td {
		color: var(--neutrals-3);
		font-size: 14px;
		font-weight: 500;
		border-bottom: 1px solid var(--border-color);
		background-color: var(--bg-light);

		.checkBox {
			display: flex;
			align-items: center;
			gap: 8px;
			width: 100%;
		}
	}

	tbody {
		.fixedLeft,
		.fixedRight {
			background: #fff;
		}

		.fixedLeft {
			box-shadow: inset -2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}

		.fixedRight {
			box-shadow: inset 2px 0 2px -2px rgba(0, 0, 0, 0.3);
		}
	}

	.checkbox {
		cursor: pointer;
		user-select: none;
		margin-right: 8px;
		width: 18px;
		height: 18px;
	}
}

.fixedRight {
	position: sticky;
	right: 0;
	z-index: 10;
}

.fixedLeft {
	position: sticky;
	left: 0;
	z-index: 10;
}
