$bg: #fff;
$bg-focus: #fff;
$bg-btn: #2367ed;

$color-placeholder: #b4b5bc;
$color-focus: #2367ed;
$border: #e1e5ed;

$border-radius: 2px;
$padding: 8px 20px;
$font-size: 16px;

.container {
	width: 480px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0px 137px 123px 0px rgba(54, 54, 54, 0.11), 0px 59.642px 64.694px 0px rgba(79, 79, 79, 0.08),
		0px 29.66px 43.62px 0px rgba(32, 32, 32, 0.07), 0px 13.866px 30.709px 0px rgba(51, 51, 51, 0.07),
		0px 5.309px 20.507px 0px rgba(86, 86, 86, 0.06), 0px 1.17px 10.708px 0px rgba(52, 52, 52, 0.05);
	padding: 16px;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.input {
		width: 100px;
		font-weight: 500;
		font-size: 12px;
		color: var(--dark);
		padding: 6px 12px;
		display: flex;
		align-items: center;
		gap: 4px;
		user-select: none;
		transition: 0.2s;
		border-radius: $border-radius;
		background-color: var(--bg-light);
		border: 1px solid var(--border-color);
		display: flex;
		align-items: center;
		cursor: text;
		transition: 0.3s;

		&.focus {
			border: 1px solid $color-focus;
			background: $bg-focus;
		}

		&:hover {
			border: 1px solid var(--primary);
		}

		&:focus {
			border: 1px solid var(--primary);
		}

		input {
			display: block;
			flex: 1;
			outline: none;
			border: none;
			background-color: transparent;
			padding-left: 4px;
		}
	}

	& + & {
		margin-top: 8px;
	}

	& > p {
		color: #23262f;
		font-size: 16px;
		font-weight: 500;
	}

	.box_input {
		position: relative;

		.unit {
			position: absolute;
			top: 50%;
			right: 0;
			background-color: #fff;
			transform: translate(-50%, -50%);
			color: #171832;
			font-size: 14px;
			font-weight: 500;
			z-index: 10;
			padding-left: 8px;
			border-left: 1px solid #e1e5ed;
		}
	}
}

.box_btn {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.btn {
	width: 90px;
}
