.container {
	& + & {
		margin-top: 12px;
	}
}

.line_stroke {
	width: 100%;
	height: 1px;
	border: none;
	border-top: 1px dashed #acb4bfb2;
	margin: 10px 0;
}

.header_option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 8px 10px;
}

.option {
	display: flex;
	align-items: center;
	gap: 12px;

	.root_false {
		background: #f6faff;
	}

	.root_true {
		background: #ffebe0;
	}
}

.infor_check {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #e8e8e8;
	gap: 4px;

	.item {
		margin: 0 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4px;

		& > p:nth-child(1) {
			color: #697586;
			font-size: 14px;
			font-weight: 500;
		}

		& > p:nth-child(2) {
			color: #202939;
			font-size: 15px;
			font-weight: 500;

			.link {
				color: #2970ff;
				font-size: 15px;
				font-weight: 400;
				text-decoration: underline;
				margin-left: 6px;
				transition: 0.3s;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.input_radio + .infor_check {
	transition: border-color 0.3s ease;
}

.input_radio:checked + .infor_check {
	border-color: #2d74ff;
}

.view_more {
	margin: 10px;
	display: flex;
	align-items: center;

	&:hover {
		color: #2970ff;
	}

	.text {
		cursor: pointer;
		margin-right: 2px;
		font-size: 500;
		color: #2970ff;
		text-decoration: underline;
	}

	.arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		user-select: none;
		transition: 0.3s;
		color: #777e90;

		&.activeArrow {
			transform: rotate(90deg);
			color: #2970ff;
		}
	}
}

.item_child {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.grid_column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.infor_check {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #e8e8e8;

	.item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4px;

		& > p:nth-child(1) {
			color: #697586;
			font-size: 14px;
			font-weight: 500;
		}

		& > p:nth-child(2) {
			color: #202939;
			font-size: 15px;
			font-weight: 500;

			.link {
				color: #2970ff;
				font-size: 15px;
				font-weight: 400;
				text-decoration: underline;
				margin-left: 6px;
				transition: 0.3s;

				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}
